---
title: Constructor
classBody: is-constructor red-theme
---
{% extends 'layouts/_layout.html' %}

{% block content %}
	
	{% include 'partials/_header-new.html' %}
	<div class="inner inner-sm">
		<div class="constructor">
			<div class="constructor__wrap">
				<div class="constructor__soc mobile-hide"></div>
				<main class="constructor__main">
					<div class="date date_simple">Добавлено: 10 августа, 15:00</div>
					<h1>H1 Американист: Трамп <br>может уволить Хейли за критику его дружбы с Россией</h1>
				</main>
				<div class="constructor__sidebar tablet-hide"></div>
			</div>
			<div class="constructor__wrap">
				<div class="constructor__soc text-right mobile-hide">
					<div class="share">
						<div class="share__text">Поделиться</div>
						<div class="share__list">
							<li><a href="#">{{ mixins.icon('vk') }}</a></li>
							<li><a href="#">{{ mixins.icon('tw') }}</a></li>
							<li><a href="#">{{ mixins.icon('ok') }}</a></li>
							<li><a href="#">{{ mixins.icon('facebook') }}</a></li>
						</div>
					</div>
					<div class="assessment">
						<div class="assessment__text">Оценить <span class="assessment__numb">+123</span></div>
						<div class="assessment__list">
							<li><a href="#">{{ mixins.icon('like') }}</a></li>
							<li><a href="#">{{ mixins.icon('dislike') }}</a></li>
						</div>
					</div>
				</div>
				<main class="constructor__main">
					<div class="simplebanner">
						<div class="simplebanner__source">
							<div class="simplebanner__item">
								Источник материала: <a href="#">Gazeta.ru</a>
							</div>
							<div class="simplebanner__item">
								<div class="simplebanner__date">Время на чтение: 5 минут</div>
							</div>
						</div>
						<img src="https://picsum.photos/680/254" alt="img">
					</div>
					<p>Россия никогда не сможет стать другом для США. Об этом заявила постоянный представитель США при ООН Никки Хейли. По её словам, Вашингтон никогда не доверял и не будет доверять Москве. При этом постпред Соединённых Штатов подчеркнула, что встреча между президентом РФ Владимиром Путиным и главой США «должна была произойти», сообщает <a href="#">RT.</a></p>
					<h2>H2 Директор Института США и Канады</h2>
					<p>«Хейли говорит то, что происходит на самом деле. США и Россия не могут быть союзниками на международной арене, потому что их геополитические интересы слишком разные. </p>
					<p>По сути дела, улучшения российско-американских отношений пока нет. Была встреча в Хельсинки, которая воспринята политической элитой США крайне критично. У меня нет уверенности, что эта встреча продолжится масштабным сотрудничеством. Сумеет ли Трамп переломить настроения, это пока вопрос даже для самого Трампа», — подчеркнул эксперт.</p>
					<div class="gallery-slider-wrap gallery-slider-wrap_simple js-gallery-slider-wrap">
						<button class="gallery-slider-prev js-gallery-slider-prev" type="butoon">{{ mixins.icon('arrow-sm-right-lg')}}</button>
						<button class="gallery-slider-next js-gallery-slider-next" type="butoon">{{ mixins.icon('arrow-sm-right-lg')}}</button>
						<!-- begin gallery-slider -->
						<div class="gallery-slider js-gallery-slider">
							{% for slide in [
								{
									img: 'card-slider-1.jpg',
									title: 'Photo: Ashish Kumar/EyeEm/Getty Images'
								},
								{
									img: 'card-slider-1.jpg',
									title: 'Photo: Ashish Kumar/EyeEm/Getty Images'
								},
								{
									img: 'card-slider-1.jpg',
									title: 'Photo: Ashish Kumar/EyeEm/Getty Images'
								},
								{
									img: 'card-slider-1.jpg',
									title: 'Photo: Ashish Kumar/EyeEm/Getty Images'
								},
								{
									img: 'card-slider-1.jpg',
									title: 'Photo: Ashish Kumar/EyeEm/Getty Images'
								},
								{
									img: 'card-slider-1.jpg',
									title: 'Photo: Ashish Kumar/EyeEm/Getty Images'
								}
							] %}
							<div class="gallery-slider__slide js-gallery-slider-slide">
								<figure>
								    <p><img src="./img/{{ slide.img }}" alt="img"></p>
								    <figcaption>{{ slide.title + ' ' + loop.index }}</figcaption>
								</figure>
								<div class="gallery-slider__footer">
									<div class="gallery-slider__length">
										{{mixins.icon('picture')}}
										<span class="gallery-slider__current js-gallery-slider-current"></span> из
										<span class="gallery-slider__all js-gallery-slider-all"></span>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<!-- end gallery-slider -->
					</div>
					<p>Россия никогда не сможет стать другом для США. Об этом заявила постоянный представитель США при ООН Никки Хейли. По её словам, Вашингтон никогда не доверял и не будет доверять Москве. При этом постпред Соединённых Штатов подчеркнула, что встреча между президентом РФ Владимиром Путиным и главой США «должна была произойти», сообщает <a href="#">RT</a>.</p>
					<h3>H3 Директор Института США и Канады</h3>
					<ul class="news-list">
						<li><a href="#">Россия никогда не сможет стать другом для США</a></li>
						<li><a href="#">Об этом заявила постоянный представитель США при ООН</a></li>
						<li><a href="#">По её словам, Вашингтон никогда не доверял и не будет доверять</a></li>
					</ul>
					<p>Россия никогда не сможет стать другом для США. Об этом заявила постоянный представитель США при ООН Никки Хейли. По её словам, Вашингтон никогда не доверял и не будет доверять Москве. При этом постпред Соединённых Штатов подчеркнула, что встреча между президентом РФ Владимиром Путиным и главой США «должна была произойти», сообщает <a href="#">RT</a>.</p>
					<div class="longcard">
						<div class="longcard__wrap" style="box-shadow: 0 0 15px 15px #B19475; background-color: #B19475;">
							<div class="longcard__head">
								<a href="#" class="badge badge_light-gray badge_mid">Шоу-бизнес</a>
							</div>
							<div class="longcard__footer" style="box-shadow: 0 0 15px 15px #B19475; background-color: #B19475;">
								<a href="#" class="longcard__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, temporibus!</a>
							</div>
						</div>
						<div class="longcard__img">
							<img src="https://picsum.photos/310/214" alt="img">
						</div>
					</div>
					<p>Россия никогда не сможет стать другом для США. Об этом заявила постоянный представитель США при ООН Никки Хейли. По её словам, Вашингтон никогда не доверял и не будет доверять Москве. При этом постпред Соединённых Штатов подчеркнула, что встреча между президентом РФ Владимиром Путиным и главой США «должна была произойти», сообщает <a href="#">RT</a>.</p>
					<h4>H4 Директор Института США и Канады</h4>
					<p>«Хейли говорит то, что происходит на самом деле. США и Россия не могут быть <a href="#">союзниками на международной арене</a>, потому что их геополитические интересы слишком разные. </p>
					<div class="simplevideo">
						<div class="simplevideo__text">Реклама</div>
						<div class="simplevideo__container">
							<video>video</video>
						</div>
					</div>
					<p>По сути дела, улучшения российско-американских отношений пока нет. Была встреча в Хельсинки, которая воспринята политической элитой США крайне критично. У меня нет уверенности, что эта встреча продолжится масштабным сотрудничеством. Сумеет ли Трамп переломить настроения, это пока вопрос даже для самого Трампа», — подчеркнул эксперт.</p>
					<ul class="news-list news-list_mod">
						<li><a href="#">Экс-глава протокола Кремля рассказал о подарке Трампа Путину</a></li>
					</ul>
					<p><strong>Жирный текст</strong> и <i>Курсивный текст</i></p>
					<ul>
						<li>Россия никогда не сможет стать другом для США</li>
						<li>Об этом заявила постоянный представитель США при ООН Никки Хейли</li>
						<li>По её словам, Вашингтон никогда не доверял и не будет доверять Москве</li>
					</ul>
					<ol>
						<li>При этом постпред Соединённых Штатов подчеркнула, что встреча между президентом</li>
						<li>При этом постпред Соединённых Штатов подчеркнула, что встреча между президентом</li>
						<li>При этом постпред Соединённых Штатов подчеркнула, что встреча между президентом</li>
					</ol>
					<div class="simplerow">
						<div class="simplecol simplecol-6 mobile-hide">
							<div class="shortcard" style="background-image: linear-gradient(270deg, transparent, rgba(177, 148, 117, 0.01) 12.3%, rgba(177, 148, 117, 0.45) 28.42%, rgba(177, 148, 117, 0.94) 51.85%), url(https://picsum.photos/324/214);">
								<div class="shortcard__head">
									<a href="#" class="badge badge_light-gray badge_mid">Шоу-бизнес</a>
								</div>
								<div class="shortcard__footer">
									<a href="#" class="shortcard__title">Анекдот о наглом студенте: Захарова вызвала всеобщий хохот</a>
								</div>
							</div>
						</div>
						<div class="simplecol simplecol-6">
							<div class="shortcard" style="background-image: linear-gradient(90deg, rgba(92, 108, 149, 0.94) 50%, rgba(87, 116, 149, 0.46) 69.75%, rgba(82, 122, 167, 0.01) 86.57%, rgba(255, 255, 255, 0) 100%), url(https://picsum.photos/324/214);">
								<div class="shortcard__head">
									<a href="#" class="badge badge_light-gray badge_mid">Политика</a>
								</div>
								<div class="shortcard__footer">
									<a href="#" class="shortcard__title">Анекдот о наглом студенте: Захарова вызвала всеобщий хохот</a>
								</div>
							</div>
						</div>
					</div>
					<p>Россия никогда не сможет стать другом для США. Об этом заявила постоянный представитель США при ООН Никки Хейли. По её словам, Вашингтон никогда не доверял и не будет доверять Москве. При этом постпред Соединённых Штатов подчеркнула, что встреча между президентом РФ Владимиром Путиным и главой США «должна была произойти», сообщает <a href="#">RT</a>.</p>
					<div class="simplenews">
						<div class="simplenews__img">
							<img src="https://picsum.photos/438/336" alt="img">
						</div>
						<div class="simplenews__wrap">
							<div class="simplenews__head">
								<a href="#" class="badge badge_light-gray badge_mid">Шоу-бизнес</a>
							</div>
							<a href="#" class="simplenews__title">Анекдот о наглом студенте: Захарова вызвала всеобщий хохот</a>
							<a href="#" class="simplenews__read">Читать далее →</a>
						</div>
					</div>
					<p>Россия никогда не сможет стать другом для США. Об этом заявила постоянный представитель США при ООН Никки Хейли. По её словам, Вашингтон никогда не доверял и не будет доверять Москве. При этом постпред Соединённых Штатов подчеркнула, что встреча между президентом РФ Владимиром Путиным и главой США «должна была произойти», сообщает <a href="#">RT</a>.</p>
					<div class="articenews">
						<a href="#">Россия никогда не сможет стать другом для США. Об этом заявила постоянный представитель США при ООН Никки Хейли. По её словам, Вашингтон никогда не доверял и не будет доверять Москве.</a>
					</div>
					<p>Россия никогда не сможет стать другом для США. Об этом заявила постоянный представитель США при ООН Никки Хейли. По её словам, Вашингтон никогда не доверял и не будет доверять Москве. При этом постпред Соединённых Штатов подчеркнула, что встреча между президентом РФ Владимиром Путиным и главой США «должна была произойти», сообщает <a href="#">RT</a>.</p>
					<div class="soc-mobile">
						<div class="assessment">
							<div class="assessment__text">Оценить<span class="assessment__numb">+123</span></div>
							<div class="assessment__list">
								<li><a href="#">{{ mixins.icon('like') }}</a></li>
								<li><a href="#">{{ mixins.icon('dislike') }}</a></li>
							</div>
						</div>
						<div class="share">
							<div class="share__text">Поделиться</div>
							<div class="share__list">
								<li><a href="#">{{ mixins.icon('vk') }}</a></li>
								<li><a href="#">{{ mixins.icon('tw') }}</a></li>
								<li><a href="#">{{ mixins.icon('ok') }}</a></li>
								<li><a href="#">{{ mixins.icon('facebook') }}</a></li>
							</div>
						</div>
					</div>
					<h5 class="readtitle">Читайте также</h5>
					<ul class="readlist">
						<li><a href="#">В Израиле объяснили, почему едва не сорвалось принятие закона о «доме еврейского народа»</a></li>
						<li><a href="#">Выпад Трампа против Черногории назвали необоснованным</a></li>
						<li><a href="#">Экс-глава протокола Кремля рассказал о подарке Трампа Путину</a></li>
					</ul>
					<div class="constnews">
						<div class="constnews__head">
							<a href="#" class="constnews__logo">
								<img src="./img/logo.svg" alt="img">
							</a>
							<div class="constnews__btns">
								<a href="#" class="btn-sm">Добавить новость</a>
							</div>
						</div>
						<div class="constnews__row">
							<div style="background: #C4C4C4; height: 325px;"></div>
						</div>
						<div class="newsbanner">
							<div class="newsbanner__img">
								<img src="https://picsum.photos/232/254" alt="img">
							</div>
							<div class="newsbanner__wrap">
								<img class="newsbanner__bg" src="https://picsum.photos/232/254" alt="img">
								<div class="newsbanner__wrap-inner">
									<div class="newsbanner__head">
										<a href="#" class="badge  badge_light-gray badge_mid">Партнерский материал</a>
									</div>
									<div class="newsbanner__center">
										<div class="newsbanner__title"> Приюти котика в самом милом приюте на свете, пока это не сделали за тебя </div>
									</div>
									<div class="newsbanner__bns">
										<a href="#" class="btn-simple btn-simple_sm btn-simple_white btn-simple_os">Подробнее</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
				<aside class="constructor__sidebar tablet-hide">
					<h5 class="readtitle">Читайте также</h5>
					<ul class="readlist readlist_sm">
						<li><a href="#">В Израиле объяснили, почему едва не сорвалось принятие закона о «доме еврейского народа»</a></li>
						<li><a href="#">Выпад Трампа против Черногории назвали необоснованным</a></li>
						<li><a href="#">Экс-глава протокола Кремля рассказал о подарке Трампа Путину</a></li>
					</ul>
					<div class="constructor__sidebar-row">
						<div class="vertcard">
							<div class="vertcard__img" style="background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, rgba(65, 65, 65, 0.0001) 35.08%, rgba(12, 13, 11, 0.4) 62.39%, #0C0D0B 100%), url(https://picsum.photos/235/325);">
								<div class="vertcard__head">
									<a href="#" class="badge badge_light-gray badge_mid">Шоу-бизнес</a>
								</div>
							</div>
							<div class="vertcard__footer">
								<div class="vertcard__footer-overlay"></div>
								<a href="#" class="vertcard__edition">RBK.RU</a>
								<div class="vertcard__title">Анекдот о наглом студенте: Захарова вызвала всеобщий хохот</div>
							</div>
							<a href="#" class="vertcard__overlay"></a>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</div>
	<div class="featured-materials">
		<div class="inner-xs">
			<h5 class="readtitle">Рекомендованные материалы</h5>
			<div class="featured-slider">
				<div class="featured-slider__slide">
					<div class="featured-slider__row row-flex">
						<div class="featured-slider__col col-3 col-md-4 col-sm-12">
							<div class="vertcard">
								<div class="vertcard__img" style="background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, rgba(65, 65, 65, 0.0001) 35.08%, rgba(12, 13, 11, 0.4) 62.39%, #0C0D0B 100%), url(https://picsum.photos/235/325);">
									<div class="vertcard__head">
										<a href="#" class="badge badge_light-gray badge_mid">Шоу-бизнес</a>
									</div>
								</div>
								<div class="vertcard__footer">
									<div class="vertcard__footer-overlay"></div>
									<a href="#" class="vertcard__edition">RBK.RU</a>
									<div class="vertcard__title">Анекдот о наглом студенте: Захарова вызвала всеобщий хохот</div>
								</div>
								<a href="#" class="vertcard__overlay"></a>
							</div>
						</div>
						<div class="featured-slider__col col-3 col-md-4 col-sm-12">
							<div class="vertcard">
								<div class="vertcard__img" style="background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, rgba(65, 65, 65, 0.0001) 35.08%, rgba(12, 13, 11, 0.4) 62.39%, #0C0D0B 100%), url(https://picsum.photos/235/325);">
									<div class="vertcard__head">
										<a href="#" class="badge badge_light-gray badge_mid">Шоу-бизнес</a>
									</div>
								</div>
								<div class="vertcard__footer">
									<div class="vertcard__footer-overlay"></div>
									<a href="#" class="vertcard__edition">RBK.RU</a>
									<div class="vertcard__title">Анекдот о наглом студенте: Захарова вызвала всеобщий хохот</div>
								</div>
								<a href="#" class="vertcard__overlay"></a>
							</div>
						</div>
						<div class="featured-slider__col col-3 col-md-4 mobile-hide">
							<div class="vertcard">
								<div class="vertcard__img" style="background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, rgba(65, 65, 65, 0.0001) 35.08%, rgba(12, 13, 11, 0.4) 62.39%, #0C0D0B 100%), url(https://picsum.photos/235/325);">
									<div class="vertcard__head">
										<a href="#" class="badge badge_light-gray badge_mid">Шоу-бизнес</a>
									</div>
								</div>
								<div class="vertcard__footer">
									<div class="vertcard__footer-overlay"></div>
									<a href="#" class="vertcard__edition">RBK.RU</a>
									<div class="vertcard__title">Анекдот о наглом студенте: Захарова вызвала всеобщий хохот</div>
								</div>
								<a href="#" class="vertcard__overlay"></a>
							</div>
						</div>
						<div class="featured-slider__col col-3 tablet-hide">
							<div class="vertcard">
								<div class="vertcard__img" style="background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, rgba(65, 65, 65, 0.0001) 35.08%, rgba(12, 13, 11, 0.4) 62.39%, #0C0D0B 100%), url(https://picsum.photos/235/325);">
									<div class="vertcard__head">
										<a href="#" class="badge badge_light-gray badge_mid">Шоу-бизнес</a>
									</div>
								</div>
								<div class="vertcard__footer">
									<div class="vertcard__footer-overlay"></div>
									<a href="#" class="vertcard__edition">RBK.RU</a>
									<div class="vertcard__title">Анекдот о наглом студенте: Захарова вызвала всеобщий хохот</div>
								</div>
								<a href="#" class="vertcard__overlay"></a>
							</div>
						</div>
						<div class="featured-slider__col col-3 col-md-4 mobile-hide">
							<div class="vertcard">
								<div class="vertcard__img" style="background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, rgba(65, 65, 65, 0.0001) 35.08%, rgba(12, 13, 11, 0.4) 62.39%, #0C0D0B 100%), url(https://picsum.photos/235/325);">
									<div class="vertcard__head">
										<a href="#" class="badge badge_light-gray badge_mid">Шоу-бизнес</a>
									</div>
								</div>
								<div class="vertcard__footer">
									<div class="vertcard__footer-overlay"></div>
									<a href="#" class="vertcard__edition">RBK.RU</a>
									<div class="vertcard__title">Анекдот о наглом студенте: Захарова вызвала всеобщий хохот</div>
								</div>
								<a href="#" class="vertcard__overlay"></a>
							</div>
						</div>
						<div class="featured-slider__col col-6 col-md-8 col-sm-12">
							<div class="longcard longcard_high">
								<div class="longcard__wrap" style="box-shadow: 0 0 15px 15px #566B82; background: #566B82;">
									<div class="longcard__head">
										<a href="#" class="badge badge_light-gray badge_mid">Шоу-бизнес</a>
									</div>
									<div class="longcard__footer" style="box-shadow: 0 0 15px 15px #566B82; background: #566B82;">
										<a href="#" class="longcard__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, temporibus!</a>
									</div>
								</div>
								<div class="longcard__img">
									<img src="https://picsum.photos/310/214" alt="img">
								</div>
							</div>
						</div>
						<div class="featured-slider__col col-3 tablet-hide">
							<div class="vertcard">
								<div class="vertcard__img" style="background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, rgba(65, 65, 65, 0.0001) 35.08%, rgba(12, 13, 11, 0.4) 62.39%, #0C0D0B 100%), url(https://picsum.photos/235/325);">
									<div class="vertcard__head">
										<a href="#" class="badge badge_light-gray badge_mid">Шоу-бизнес</a>
									</div>
								</div>
								<div class="vertcard__footer">
									<div class="vertcard__footer-overlay"></div>
									<a href="#" class="vertcard__edition">RBK.RU</a>
									<div class="vertcard__title">Анекдот о наглом студенте: Захарова вызвала всеобщий хохот</div>
								</div>
								<a href="#" class="vertcard__overlay"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="featuredloader">
					<li></li>
					<li></li>
					<li></li>
				</div>
			</div>
		</div>
	</div>
	{% include 'partials/_footer-new.html' %}

{% endblock %}
