---
title: Typical-page
---
{% extends 'layouts/_layout.html' %}

{% block content %}
	
	{{ header.block() }}
	<div class="progress js-progress"></div>
	<div class="inner">
		{{ mixins.breadcrumbs({
			list: ['Главная', 'Типовая страница']
		}) }}
		<div class="head">
			<div class="head__inner">
				<div class="row-flex">
					<div class="col-8 col-md-12">
						<h1>H1 Длинный заголовок для определения межстрочного расстояния</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row-flex">
			<div class="main col-8 col-md-12">
				<!-- begin article -->
				<article class="article">
					<div class="head-inf">
						<p>Лид — это первый абзац статьи, информативный отрывок позволяющий захватить внимание читателя на данном материале.</p>
						<p>Необязательный элемент.</p>
					</div>
					<div class="article__row">
						<p>
							Эта страница создана для демонстрации блоков и элементов, которые используются на сайте, и служит руководством для всех, кто работает над ним. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Здесь же рассказывается о некоторых общих правилах оформления контента.
						</p>
						<div class="info-block tablet-hide">
							<h5>&lt;H5&gt; Доп. колонка может быть снабжена заголовками</h5>
							<p class="info-block__text">Любой текст, который является дополнением, либо пояснением к абзацу</p>
						</div>
					</div>
					<h2>&lt;H2&gt; Еще один заголовок длинной в две строки, но меньшей по количеству символов</h2>
					<div class="article__row">
						<p>
							Эта страница создана для демонстрации блоков и элементов, которые используются на сайте, и служит руководством для всех, кто работает над ним. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Здесь же рассказывается о некоторых общих правилах оформления контента.
						</p>
						<div class="info-block tablet-hide">
							<img src="./img/card-sm-4.jpg" alt="img">
							<p class="info-block__text">Второй вариант с фото и подписью</p>
						</div>
					</div>
					<h3>&lt;H3&gt; Заголовок 3 уровня</h3>
					<p>Текст состоит из некоторого количества предложений. Одно предложение, даже очень распространённое, сложное, текстом назвать нельзя, поскольку текст можно расчленить на самостоятельные предложения, а части предложения сочетаются по законам синтаксиса сложного предложения, но не текста.</p>
					<h4>&lt;H4&gt; Совсем маленький заголовок</h4>
					<p>Самый «нижний» заголовок &lt;h4&gt; предваряет такие элементы, как «Случайная знаменитость» или «Новости шоу-бизнеса», а также имя на англиском языке на страничке знаменитости</p>
					<blockquote>Цитата или выдержка из интервью. <br>Специально несколько строк чтобы определить межстрочный интервал</blockquote>
					<ul>
						<li>Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
							<ul>
								<li>Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.</li>
								<li>Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).</li>
							</ul>
						</li>
						<li>Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).</li>
					</ul>
					<ol>
						<li>Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.</li>
						<li>Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).</li>
					</ol>
					<p><a href="#">Link</a> <a class="link-dashed" href="#">Link</a></p>
					<h4>Table</h4>
					<div class="table-wrap">
						<table>
							<thead>
								<tr>
									<th>Заголовочная ячейка</th>
									<th>Заголовочная ячейка</th>
									<th>Заголовочная ячейка</th>
									<th>Заголовочная ячейка</th>
								</tr>
							</thead>
							<tbody>
								{% for i in range(0,5) %}
								<tr>
									<td>Ячейка с информацией</td>
									<td>Ячейка с информацией</td>
									<td>Ячейка с информацией</td>
									<td>Ячейка с информацией</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<h4>Table</h4>
					<div class="table-wrap">
						<table class="table_vertical">
							<tbody>
								{% for i in range(0,5) %}
								<tr>
									<td><strong>Ячейка с информацией</strong></td>
									<td>Ячейка с информацией</td>
									<td>Ячейка с информацией</td>
									<td>Ячейка с информацией</td>
									<td>Ячейка с информацией</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="img">
						<img src="./img/card-1.jpg" alt="img">
						<div class="img__footer">Брэдли Купер в детстве</div>
					</div>
					<p>В 5 лет, после начала занятий дайвингом, у мальчика диагностировали холестеатому среднего уха, которая могла бы навредить слуху будущего актера. Однако оперативное вмешательство врачей и серия сложных операций, длившихся вплоть до 18-летия парня, помогли избежать негативных последствий.</p>
					<p>Поступив в Академию Джермантаун в Форт Вашингтон, Брэдли подружился с Брайаном Клагманом, также будущим актером и сценаристом. Помимо учебы, Купер в молодости подрабатывал в газете ежедневных новостей Филадельфии.</p>
					<div class="images">
						<div class="images__col">
							<div class="img">
								<img src="./img/card-2.jpg" alt="img">
								<div class="img__footer">Брэдли Купер в юности</div>
							</div>
						</div>
						<div class="images__col">
							<div class="img">
								<img src="./img/card-3.jpg" alt="img">
								<div class="img__footer">Брэдли Купер в университете</div>
							</div>
						</div>
					</div>
					<p>В 1993 году поступил в частный Университет Вилланова. Там Брэдли проучился около года и перевелся в Джорджтаунский университет, находящийся в Вашингтоне. Здесь он записался в команду по гребле, а также участвовал в постановках Бродячего Театра. Брэдли изучал французский язык, благодаря чему 6 месяцев провел во Франции, в городке Экс-ан-Прованс, как студент по обмену. </p>
					<p>В 1997 году Купер окончил университет, получив степень бакалавра гуманитарных наук. После этого оправился в Нью-Йорк, чтобы поступить в университет Новая Школа, где обучался драматическому и актерскому искусству. Параллельно учебе парень подрабатывал швейцаром в отеле. По словам Брэдли, однажды ему довелось помогать с доставкой чемодана молодому  Леонардо Ди Каприо , который в то время уже снялся в кассовом «Титанике» и был недостижимой величиной для начинающего актера.</p>
					<h3>Фильмы</h3>
					<p>Брэдли Купер начал сниматься, еще будучи студентом университета. Его первой ролью стало эпизодическое появление в культовом сериале  «Секс в большом городе»  в 1999 году. Потом актер засветился в научно-популярном шоу «Globe Trekker» в качестве телеведущего. Внешность и рост позволяли играть ему различные роли: от героев-любовников до комедийных простаков.</p>
					<p>В 2000 году окончил курс университета и стал магистром в области изобразительных искусств.</p>
					<div class="gallery-slider-wrap js-gallery-slider-wrap">
						<!-- begin gallery-slider -->
						<div class="gallery-slider js-gallery-slider">
							{% for slide in [
								{
									img: 'card-slider-1.jpg',
									title: 'Бриена Тарт, “Афиша Daily”'
								},
								{
									img: 'card-slider-1.jpg',
									title: 'Бриена Тарт, “Афиша Daily”'
								},
								{
									img: 'card-slider-1.jpg',
									title: 'Бриена Тарт, “Афиша Daily”'
								},
								{
									img: 'card-slider-1.jpg',
									title: 'Бриена Тарт, “Афиша Daily”'
								},
								{
									img: 'card-slider-1.jpg',
									title: 'Бриена Тарт, “Афиша Daily”'
								},
								{
									img: 'card-slider-1.jpg',
									title: 'Бриена Тарт, “Афиша Daily”'
								}
							] %}
							<div class="gallery-slider__slide js-gallery-slider-slide">
								<img src="./img/{{ slide.img }}" alt="img">
								<div class="gallery-slider__footer">
									<div class="gallery-slider__length">
										<span class="gallery-slider__current js-gallery-slider-current"></span> из
										<span class="gallery-slider__all js-gallery-slider-all"></span>
									</div>
									<div class="gallery-slider__title">{{ slide.title }}</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<!-- end gallery-slider -->
					</div>
					<p>Брэдли дебютировал на экране кинотеатров в роли Бена из культовой комедии «Жаркое американское лето», стартовавшей в прокате в 2001 году. Ради съемок он был вынужден пропустить церемонию вручения дипломов в университете.</p>
					<p>С 2001 по 2003 годы Брэдли участвовал в съемках сериала «Шпионка» в роли Уилла Типпина. Сериал добавил актеру популярности, его стали приглашать в различные фильмы на эпизодические роли. Также не перестал играть в сериалах: он снимался в криминальном телесериале «Закон и порядок: Специальный корпус», драмах «Улица» и «Джек и Бобби», ситкоме «Секреты на кухне».</p>
					<div class="banner">
						<span class="banner__title">Угадай победителей оскара</span>
						<span class="banner__text">Итоги игры подведены!</span>
						<span class="banner__buttons">
							<a href="#" class="banner__btn btn-simple">Перейти к итогам</a>
						</span>
						<img src="./img/card-banner.jpg" alt="img">
					</div>
					<p>В 2009 году в кинотеатрах показали романтическую комедию «Обещать не значит жениться», где Купер появился на одном экране с такими именитыми звездами Голливуда, как Бен Аффлек, Дженнифер Энистон, Скарлетт Йоханссон и Дрю Бэрримор.</p>
					<p>В том же году в кинотеатрах Америки и мира был показан фильм с участием актера «Мальчишник в Вегасе». Комедия снискала одобрение критиков и зрителей, собрав сумму, в 13 раз превысившую бюджет фильма. Эта кинолента принесла Брэдли давно ожидаемую славу и известность, а также награду, врученную на ежегодном Голливудском кинофестивале.</p>
					<div class="img">
						<img src="./img/card-1.jpg" alt="img">
						<div class="img__footer">Брэдли Купер в боевике «Снайпер»</div>
					</div>
					<p>Несмотря на ошеломительный успех актера, его последующий фильм «Все о Стиве», где он сыграл со звездной Сандрой Буллок, был прохладно принят кинокритиками. Сам актер вместе с коллегой по сцене удостоились номинаций на худшую мужскую и женскую роли в антипремии «Золотая малина» и стали победителями.</p>
					<p>В 2010 году Купер засветился в очередной романтической комедии «День Святого Валентина», которая также не была обделена звездным составом. Неудивительно, что комедия снискала коммерческий успех. В том же 2010-м актер, помимо участия в продолжении комедии «Мальчишник в Вегасе-2», также снялся в нетипичном для его амплуа кинофильме — триллере «Области тьмы» по роману Алана Глинна.</p>
					<h3>Личная жизнь</h3>
					<p>В апреле 2017 года стало известно, что Брэдли Купер стал отцом в первый раз – его возлюбленная Ирина Шейк родила дочь в одной из лучших клиник Лос-Анджелеса. Известно, что малышка, которую назвали Леа де Сена Шейк Купер, появилась на свет еще в конце марта.</p>
					<p>Позднее молодая семья переехала в Нью-Йорк, где актер купил таунхаус за $ 13,5 млн. В доме общей площадью 370 кв. м расположились 2 детские комнаты, 6 спален, гостиная с камином. Рядом с особняком раскинулся фруктовый сад. Вместе со счастливым семейством живет и любимый пес Купера по кличке Чарли.</p>
				</article>
				<!-- end article -->
				<!-- begin article-footer -->
				<div class="article-footer">
					<!-- begin facts -->
					<div class="article-footer__facts facts">
						<div class="facts__title title-md">Интересные факты</div>
						<ul class="facts__list">
							{% for text in ['До того как стать знаменитым актером, Купер сначала работал в газете  Philadelphia Daily News, а потом занимал должность портье в нью-йоркском отеле.','В детстве актер жил около кинотеатра, и они с отцом часто ходили в кино.  Купер говорит, что, если бы не отец, он вряд ли стал бы актером.','В 29 лет Купер отказался от алкоголя. До этого у него были проблемы и с наркотиками. «Однажды утром я проснулся с жуткой головной болью, посмотрел на себя и подумал: «Господи, что я делаю со своей жизнью!» И решил все изменить».','Любимые фильмы Брэдли: «Нью-йоркские истории» (1989), «Разговор» (1974), «Бабочка и скафандр» (2007).'] %}
							<li class="facts__item">{{ text }}</li>
							{% endfor %}
						</ul>
					</div>
					<!-- end facts -->
				</div>
				<!-- end article-footer -->
			</div>
			<div class="col-4 tablet-hide">
				<div class="sidebar">
					<div class="sidebar__wrap">
						<!-- begin wind -->
						<div class="sidebar__field wind">
							<div class="head">
								<div class="head__inner">
									<h3 class="head__title title-lg">Последние</h3>
									<div class="description">Name</div>
								</div>
							</div>
							<div class="wind__row row-flex">
							{% for item in [
								{
									img: 'card-sm-1.jpg',
									title: 'Лоза рассказал о своем отношении к группе <br>The Beatles',
									badgeContent: 'Шоу-бизнес',
									date: '17.01 в 10:59'
								},
								{
									img: 'card-sm-2.jpg',
									title: 'Мария Шукшина отреагировала на участие дочери в «Пусть говорят»',
									badgeContent: 'Общество',
									date: '17.01 в 09:20'
								},
								{
									img: 'card-sm-3.jpg',
									title: 'Суд не нашел плагиат <br>в песне «Чика» Александра Реввы',
									badgeContent: 'Факты',
									date: '17.01 в 09:02'
								},
								{
									img: 'card-sm-4.jpg',
									title: 'В Apple объявили о планах в ближайшее время снизить цены на iPhone',
									badgeContent: 'Экономика',
									date: '16.01  в 17:02'
								}
							] %}
								<div class="wind__col-sm col col-md-6 col-sm-12{% if loop.last %} tablet-hide{% endif %}{% if item.class %} {{ item.class }}{% endif %}">
								    {{ mixins.cardSm({
										img: item.img,
										title: item.title,
										badgeContent: item.badgeContent,
										date: item.date
								    }) }}
								</div>
							{% endfor %}
							</div>
						</div>
						<!-- end wind -->
						<!-- begin wind -->
						<div class="sidebar__field wind">
							<div class="wind__row row-flex">
							{% for item in [
								{
									img: 'card-sm-1.jpg',
									title: 'Лоза рассказал о своем отношении к группе <br>The Beatles',
									badgeContent: 'Шоу-бизнес',
									date: '17.01 в 10:59'
								},
								{
									img: 'card-sm-2.jpg',
									title: 'Мария Шукшина отреагировала на участие дочери в «Пусть говорят»',
									badgeContent: 'Общество',
									date: '17.01 в 09:20'
								},
								{
									img: 'card-sm-3.jpg',
									title: 'Суд не нашел плагиат <br>в песне «Чика» Александра Реввы',
									badgeContent: 'Факты',
									date: '17.01 в 09:02'
								},
								{
									img: 'card-sm-4.jpg',
									title: 'В Apple объявили о планах в ближайшее время снизить цены на iPhone',
									badgeContent: 'Экономика',
									date: '16.01  в 17:02'
								}
							] %}
								<div class="wind__col-sm col col-md-6 col-sm-12{% if loop.last %} tablet-hide{% endif %}{% if item.class %} {{ item.class }}{% endif %}">
								    {{ mixins.cardSm({
										img: item.img,
										title: item.title,
										badgeContent: item.badgeContent,
										date: item.date
								    }) }}
								</div>
							{% endfor %}
							</div>
						</div>
						<!-- end wind -->
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'partials/_footer.html' %}

{% endblock %}
