<!-- begin footer -->
<div class="footer footer_black footer_nomarg">
	<div class="footer__bottom">
		<div class="footer__inner inner-xs">
			<div class="footer__topic">
				<div class="footer__logo">
					<!-- begin logo -->
					<a href="/" class="logo">
						<img src="./img/logo-white.svg" alt="logo">
					</a>
					<!-- end logo -->
				</div>
				<div class="footer__info footer__info_mod">&copy; «24smi.info», 2010 - 2019</div>
			</div>
			<div class="footer__copy footer__copy_sm text-center">
				<p>Использование материалов, авторские права на которые принадлежат сторонним ресурсам, возможно только с прямой активной ссылкой на первоисточник.</p>
				<p>Редакция не несет ответственности за достоверность информации, содержащейся в рекламных объявлениях. Категория интернет-ресурса 18+</p>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->