{% macro icon(i, secondClass) %}
<svg class="icon icon-{{i}} {{secondClass}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
<!-- begin breadcrumbs -->
<ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
	{% for item in props.list %}
		{% if loop.last %}
		<li class="breadcrumbs__item">
			<span>{{ item }}</span>
		</li>
		{% else %}
		<li class="breadcrumbs__item">
			<a href="#">{{ item }}</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>
<!-- end breadcrumbs -->
{% endmacro %}

{% macro checkbox(props) %}
<!-- begin input -->
<label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
	<input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}"{% if props.checked %} checked{% endif %}>
	<span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
</label>
<!-- end input -->
{% endmacro %}

{% macro searchSimple(props) %}
<!-- begin search-simple -->
<div class="search-simple">
	<button class="search-simple__btn" type="submit">
		{{ icon('search') }}
	</button>
	<div class="search-simple__control">
		<input type="text" placeholder="Кто вас интересует?">
	</div>
</div>
<!-- end search-simple -->
{% endmacro %}

{% macro card(props) %}
<!-- begin card -->
<div class="card{% if props.class %} {{ props.class }}{% endif %}">
	<a href="#" class="card__link"></a>
	<div class="card__img" style="background-image: url(./img/{{ props.img }});">
		<div class="card__badges">
			<a href="#" class="card__badge badge{% if props.badgeColor %} badge_{{ props.badgeColor }}{% endif %}">{{ props.badgeContent }}</a>
		</div>
	</div>
	<div class="card__date date date_light">{{ props.date }}</div>
	<div class="card__title">{{ props.title | safe  }}</div>
</div>
<!-- end card -->
{% endmacro %}

{% macro cardLg(props) %}
<!-- begin card -->
<div class="card-lg{% if props.class %} {{props.class}}{% endif %}">
	<div class="card-lg__img{% if props.classImg %} {{ props.classImg }}{% endif %}" style="background-image: url(./img/{{ props.img }});"></div>
	<a href="#" class="card-lg__link"></a>
	<div class="card-lg__wrap">
		<div class="card-lg__head">
			<a href="#" class="card-lg__badge badge{% if props.badgeColor %} badge_{{ props.badgeColor }}{% endif %}">{{ props.badgeContent }}</a>
			<div class="card-lg__date date">{{ props.date }}</div>
		</div>
		<div class="card-lg__title">{{ props.title | safe }}</div>
	</div>
</div>
<!-- end card -->
{% endmacro %}

{% macro cardSm(props) %}
<!-- begin card -->
<div class="card-sm{% if props.class %} {{ props.class }}{% endif %}">
	<a href="#" class="card-sm__link"></a>
	{% if props.img %}
	<div class="card-sm__img" style="background-image: url(./img/{{ props.img }});"></div>
	{% endif %}
	<div class="card-sm__wrap">
		<div class="card-sm__title">{{ props.title | safe }}</div>
		<div class="card-sm__footer">
			<a href="#" class="card-sm__badge badge badge_simple">{{ props.badgeContent }}</a>
			<div class="card-sm__date date date_light date_int">{{ props.date }}</div>
		</div>
	</div>
</div>
<!-- end card -->
{% endmacro %}

{% macro cardSimple(props) %}
<!-- begin card -->
<div class="card-simple">
	<div class="card-simple__top">
		<a href="#" class="card-simple__badge badge">{{ props.badgeContent }}</a>
		<div class="card-simple__date date date_light date_int">{{ props.date }}</div>
	</div>
	<a href="#" class="card-simple__title">{{ props.title | safe }}</a>
</div>
<!-- end card -->
{% endmacro %}