.banner
	position: relative
	z-index: 1
	padding: 64px 0 58px
	text-align: center
	+md
		padding: 38px 40px 39px
	[data-mob-slider] &
		+sm
			padding: 20px
			max-width: 280px
	&:not(:first-child)
		.article &,
		article &
			margin-top: 56px
			+sm
				margin-top: 32px
	&:not(:last-child)
		.article &,
		article &
			margin-bottom: 56px
			+sm
				margin-bottom: 32px
	img
		position: absolute
		top: 0
		left: 0
		z-index: -1
		width: 100%
		height: 100%
		object-fit: cover
		object-position: center
	&__title
		margin-bottom: 24px
		+fmt
		+f(28px,700,1.4)
		display: block
		+md
			margin-bottom: 16px
			+f(20px,700,1.6)
		+sm
			margin: 0 -20px 20px
			line-height: 1.2
	&__text
		display: block
		+sm
			line-height: 1.2
	&__buttons
		margin-top: 36px
		display: block
		+md
			margin-top: 30px
		.btn-simple
			+ms
				width: 100%
	&__left
		padding-left: 88px
		padding-bottom: 10px
		max-width: 480px
		text-align: left
		+md
			padding-left: 0
			max-width: 330px
		.btn-simple
			min-width: 280px
			[data-mob-slider] &
				+sm
					min-width: 240px

.sm-banner
	min-height: 345px
	height: 100%
	color: $white
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	display: block
	+md
		min-height: 300px
	[data-mob-slider] &
		+sm
			max-width: 280px
	+hover
		.sm-banner__title
			color: $red
	&_bot
		align-items: flex-end
		display: flex
	&__inner
		padding: 32px
		width: 100%
		+md
			padding: 25px
		+sm
			padding: 25px 12px
	&__badge
		margin-bottom: 15px
		+md
			margin-bottom: 7px
		.badge
			margin: 0 5px 5px 0
	&__title
		text-transform: uppercase
		max-width: 274px
		+f(18px,700,1.55)
		transition: color .3s
		&:not(:last-child)
			margin-bottom: 15px
		+sm
			font-size: 14px
			max-width: 220px
	&__text
		+fos
		+f(11px,700,1.43)
		letter-spacing: 0.04em
		text-transform: uppercase