.card-page
	&__maintenance
		&:not(:last-child)
			margin-bottom: 44px
			+sm
				margin-bottom: 32px
	&__wind
		&:not(:first-child)
			margin-top: 32px
			+sm
				margin-top: 39px
	&__sm-banner
		+sm
			margin-bottom: 32px
.card
	position: relative
	padding-bottom: 5px
	[data-mob-slider] &
		+sm
			max-width: 280px
	&__link
		position: absolute
		top: 0
		left: 0
		z-index: 1
		width: 100%
		height: 100%
		+hover
			& ~ .card__title
				color: $red
	&__img
		position: relative
		height: 248px
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		+md
			height: 216px
		+sm
			height: 176px
	&__badges
		position: absolute
		top: 0
		left: 0
		width: 100%
		pointer-events: none
		z-index: 2
		padding: 20px 20px 20px 24px
		+sm
			padding: 8px 8px 8px 13px
	&__date
		margin-top: 18px
		+md
			margin-top: 14px
		+sm
			margin-top: 10px
	&__badge
		margin: 4px 4px 0 0
		pointer-events: initial
	&__title
		margin-top: 14px
		max-height: 84px
		overflow: hidden
		transition: color .3s
		+f(20px,600,1.4)
		display: block
		+md
			margin-top: 8px
		+sm
			margin-top: 5px
			max-height: none
			+f(16px,600,1.5)
		br
			+sm
				display: none
	&__maintenance
		&:not(:last-child)
			margin-bottom: 37px
.card-lg
	position: relative
	min-width: 100%
	color: $white
	height: 533px
	+md
		margin: 0
		height: 450px
	+sm
		color: $black
		height: auto
	&_ml
		margin-left: -40px
	&_mt
		margin-top: -40px
	&_mr
		margin-right: -40px
	&_mb
		margin-bottom: -40px
	&_middle
		height: 376px
		+md
			height: 328px
	&_black
		color: $black
	&__img
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		+sm
			position: relative
			margin-bottom: 10px
			height: 176px
		&_top
			top: -16px
			background-position: bottom right
			+sm
				top: 0
		&_right
			right: -16px
			background-position: bottom right
			+sm
				right: 0
		&_left
			left: -16px
			+sm
				left: 0
		&_bottom
			right: -16px
			+sm
				right: 0
	&__wrap
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		padding: 108px 40px 40px
		+md
			padding: 85px 39px 39px
		+sm
			position: static
			padding: 0
		.card-lg_middle &
			padding: 27px 40px 40px
			+md
				padding: 49px 39px 39px
			+sm
				padding: 0
	&__link
		position: absolute
		top: 0
		left: 0
		z-index: 1
		width: 100%
		height: 100%
		+hover
			& ~ .card-lg__wrap .card-lg__title
				color: $red
	&__head
		position: relative
		z-index: 2
		pointer-events: none
		flex-wrap: wrap
		align-items: center
		display: flex
		+sm
			position: static
		&:not(:last-child)
			margin-bottom: 40px
			+sm
				margin-bottom: 0
		& > *
			pointer-events: initial
		.card-lg_middle &
			margin-bottom: 64px
			+md
				margin-bottom: 36px
	&__badge
		+sm
			position: absolute
			top: 8px
			left: 12px
		&.badge,
		.badge
			margin: 4px 30px 0 0
	&__date
		+sm
			margin-bottom: 4px
	&__title
		max-width: 400px
		max-height: 220px
		overflow: hidden
		+f(32px,700,1.375)
		color: currentColor
		transition: color .3s
		+md
			font-size: 28px
			line-height: 1.4
			max-height: 213px
		+sm
			max-height: none
			+f(16px,600,1.5)
		br
			+sm
				display: none

.card-sm
	position: relative
	display: flex
	&:not(:last-child)
		margin-bottom: 24px
		padding-bottom: 24px
		border-bottom: 1px solid #F2F2F2
		+md
			margin-bottom: 21px
			padding-bottom: 21px
		+sm
			margin-bottom: 17px
			padding-bottom: 17px
	&__link
		position: absolute
		top: 0
		left: 0
		top: 0
		bottom: 0
		width: 100%
		+sm
			top: 0
		+hover
			& ~ .card-sm__wrap .card-sm__title
				color: $red
	&__img
		flex-shrink: 0
		width: 96px
		height: 88px
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		+md
			width: 88px
			height: 80px
		+sm
			display: none
		& + .card-sm__wrap
			padding-left: 24px	
			+md
				padding-left: 20px	
			+sm
				padding-left: 0	
	&__wrap
		flex-grow: 1
	&__title
		max-height: 66px
		overflow: hidden
		transition: color .3s
		+f(16px,600,1.375)
		+md
			font-size: 14px
			line-height: 1.45
	&__footer
		position: relative
		align-items: center
		flex-wrap: wrap
		display: flex
	&__badge
		margin: 5px 16px 0 0
		+md
			margin-top: 8px
		+sm
			margin-top: 9px
	&__date
		margin-top: 5px
		+md
			margin-top: 8px
		+sm
			margin-top: 9px

.card-simple
	&__top
		align-items: center
		flex-wrap: wrap
		display: flex
		margin-bottom: 40px
		+md
			margin-top: -5px
			margin-bottom: 30px
	&__badge
		margin: 5px 16px 0 0
	&__date
		margin-top: 5px
	&__title
		max-height: 160px
		overflow: hidden
		+f(28px,700,1.43)
		color: currentColor
		transition: color .3s
		display: block
		+md
			padding-right: 10px
			font-size: 22px
			line-height: 1.55
		+hover
			color: $red

.cardtable
	display: flex
	+f(14px,400,1.7)
	+sm
		font-size: 13px
		line-height: 1.54
		align-items: center
		flex-direction: column
	&:not(:last-child)
		margin-bottom: 56px
		+md
			margin-bottom: 37px
		+sm
			margin-bottom: -4px
	&__img
		display: flex
		align-items: flex-end
		width: 290px
		height: 360px
		flex-shrink: 0
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		+md
			width: 216px
			height: 272px
		+sm
			margin-bottom: 32px
			width: 280px
			height: 328px
		&:not(:last-child)
			margin-right: 40px
			+md
				margin-right: 32px
			+sm
				margin-right: 0
		&_ml
			margin-left: -40px
			+md
				margin-left: 0
	&__btn
		padding: 16px
		width: 100%	
		+md
			padding: 12px 16px
		+sm
			padding: 7px 9px
	&__wrap
		flex-grow: 1
		+sm
			flex-grow: initial
			width: 100%
	&__field
		display: flex
		+sm
			flex-direction: column
		&:not(:last-child)
			margin-bottom: 20px
			+md
				margin-bottom: 10px
			+sm
				margin-bottom: 15px	
	&__left
		padding-right: 20px
		+fos
		flex-shrink: 0
		width: 190px
		color: #A9A9B2
		+md
			width: 170px
		+sm
			margin-bottom: 8px
			width: 100%
	&__right
		flex-grow: 1
	&__date
		&:not(:last-child)
			margin-right: 38px
	a
		+hover
			border-color: transparent
		&:not([class])
			+fos
			+f(14px,600,1.7)
			border-bottom: 1px solid #CFCFD9
			color: currentColor
			transition: border-color .3s
			+sm
				font-size: 13px
.mob-accordion
	+sm
		padding: 22px !important
		width: 100%
		border: 4px solid #F6F8F9
	&__title
		+sm
			position: relative
			margin: 0
			padding-right: 18px
			cursor: pointer
			+f(18px,700,1.375)
		.icon-arrow-bottom
			position: absolute
			top: 50%
			right: 0
			font-size: 8px
			transform: translateY(-50%)
			transition: transform .5s
			.is-open &
				transform: translateY(-50%) rotate(180deg)
	&__wrap
		+sm
			padding-top: 18px

.card-def
	&__ing
		img
			max-width: 100%
			display: block
	&__footer
		margin-top: 16px

.longcard
	position: relative
	overflow: hidden
	min-height: 214px
	display: flex
	&_high
		min-height: 325px
	&__wrap
		padding: 24px
		z-index: 1
		flex-grow: 1
		flex-direction: column
		justify-content: space-between
		display: flex
		+sm
			padding: 10px
			background: none !important
	&__head
		position: relative
		z-index: 2
		vertical-align: top
		pointer-events: none
		display: inline-block
		& *
			pointer-events: initial
		.badge
			margin: 0 10px 10px 0
	&__footer
		margin-top: 20px
		pointer-events: none
		+rmin(767)
			background: none !important
			box-shadow: none !important
		+sm
			position: relative
			padding: 10px
			margin: 0 -10px -10px
		& *
			pointer-events: initial
	&__title
		font-weight: bold
		font-size: 22px
		+frob
		line-height: 1.18
		color: $white
		+md
			font-size: 20px
		+sm
			font-size: 18px
		+hover
			&:before
				background-color: rgba(0, 0, 0, 0.4)
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: -1
			transition: background-color .3s
	&__img
		+fs(48.44%)
		flex-shrink: 0
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		+sm
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			+fs(100%)
		img
			object-fit: cover
			object-position: center
			width: 100%
			height: 100%
			display: block
.shortcard,
.vertcard
	position: relative
	min-height: 214px
	padding: 24px
	z-index: 1
	flex-direction: column
	justify-content: space-between
	display: flex
	+sm
		padding: 10px
	&__head
		position: relative
		z-index: 2
		vertical-align: top
		pointer-events: none
		display: inline-block
		& *
			pointer-events: initial
		.badge
			margin: 0 10px 10px 0
	&__footer
		margin-top: 20px
		pointer-events: none
		& *
			pointer-events: initial
	&__title
		font-weight: bold
		font-size: 18px
		+frob
		line-height: 1.22
		color: $white
		+sm
			font-size: 16px
			line-height: 1.375
		+hover
			&:before
				background-color: rgba(0, 0, 0, 0.4)
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: -1
			transition: background-color .3s

.vertcard
	padding: 0
	min-height: 325px
	height: 100%
	justify-content: space-between
	&__head
		position: absolute
		top: 0
		left: 0
		width: 100%
		padding: 20px
		+sm
			padding: 10px
	&__img
		margin-bottom: -96px
		flex-grow: 1
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		img
			object-fit: cover
			object-position: center
			width: 100%
			height: 100%
			display: block
	&__overlay
		position: absolute
		content: ''
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 1
		transition: background-color .3s
		+hover
			background-color: rgba(0, 0, 0, 0.4)
	&__footer
		position: relative
		padding: 20px
		z-index: 2
		+sm
			padding: 10px
	&__footer-overlay
		position: absolute
		left: 0
		right: 0
		bottom: 0
		top: 76px
		z-index: -1
		pointer-events: none
		background-color: #000
	&__edition
		margin-bottom: 12px
		+frob
		color: $white
		opacity: .6
		+f(12px,500,2.3)
		text-transform: uppercase
		vertical-align: top
		display: inline-block
		transition: opacity .3s
		+hover
			opacity: 1
	&__title
		pointer-events: none
		display: block