.filter
	align-items: center
	+f(14px,400.1.7)
	color: #A9A9B2
	justify-content: space-between
	display: flex
	&__left
		padding-right: 10px
		flex: 1 1 auto
.text-control
	align-items: center
	display: inline-flex
	.text-label
		margin-right: 8px
		flex: 0 0 auto