.search-simple
	display: flex
	width: 400px
	&__btn
		position: relative
		flex-shrink: 0
		font-size: 0
		line-height: 1
		background-color: transparent
		&:before
			position: absolute
			content: ''
			top: -5px
			left: -5px
			right: -5px
			bottom: -5px
		.icon-search
			font-size: 16px
	&__control
		padding-left: 5px
		flex-grow: 1
		input
			padding-left: 14px
			width: 100%
			+fmt
			color: $black
			caret-color: $red
			+f(14px,400,1.24)
			background-color: transparent
			display: inline-block
			&::placeholder
				color: #A9A9B2