.wind
	padding: 36px 36px 40px
	border: 4px solid #F6F8F9
	&_ml
		margin-left: -40px
	&_mr
		margin-right: -40px
	&_mt
		margin-top: -40px
	&_simple
		padding: 44px 38px 44px
	&_sm
		padding: 40px 36px 36px
	.news__row,
	.news__col
		padding-bottom: 0
		margin-bottom: 0
	&__head
		margin-bottom: 44px