.icon-arrow-bottom {
  width: 1.75em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right-lg {
  width: 0.54em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 1.33em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-sm-right-lg {
  width: 0.5em;
  height: 1em;
  fill: currentColor;
}
.icon-copy {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-danger {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-dislike {
  width: 1.05em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-globe {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-libra {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-like {
  width: 1.05em;
  height: 1em;
  fill: currentColor;
}
.icon-ok {
  width: 0.6em;
  height: 1em;
  fill: currentColor;
}
.icon-picture {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-remove {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-sm-arrow-left {
  width: 0.67em;
  height: 1em;
  fill: currentColor;
}
.icon-sm-arrow-right {
  width: 0.67em;
  height: 1em;
  fill: currentColor;
}
.icon-tel {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-thumb-up {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-tw {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-warn {
  width: 1.11em;
  height: 1em;
  fill: currentColor;
}
.icon-wikipedia {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
